#
# PSAS/OreSat local folders
# `local-*` is for local-archive and local-datasheets that we don't want to be committed
# `build` is for build products (Gerbers, drill files)

local-*
build



# KiCAD Ignore Files, v5 - v7
# For PCBs designed using KiCad: https://www.kicad.org/
# Format documentation: https://kicad.org/help/file-formats/

# Temporary files
*.000
*.bak
*.bck
*.kicad_pcb-bak
*.kicad_sch-bak
*-backups
*.kicad_prl
*.sch-bak
*~
_autosave-*
*.tmp
*-save.pro
*-save.kicad_pcb
fp-info-cache
oresat-symbols.bak

# Netlist files (exported from Eeschema)
*.net

# Autorouter files (exported from Pcbnew)
*.dsn
*.ses

# Exported BOM files
*.xml
*.csv



#
# EAGLE v9 files
#

*.s#*
*.b#*
*.l#*
*.lck
.DS_Store


